.title-bg{
  background-image: linear-gradient(to right, black,red);
}
.doom-logo {
  height: 10vh;
}
.title-bar {
min-height: 10vh;
justify-content:center;
}
.main-bg {
  min-height: 75vh;
  background-color: black;
}
footer {
  background-image: linear-gradient(to right, black, red);
  min-height: 15vh;
  justify-content: center;
}
span {
  color: white;
}
#win-bg {
  background-image: url(/assets/doomguy.gif);
  background-size:cover;
  background-position: center;
  z-index:1;
}
.main-box{
  justify-content: space-between;
}
.enemy-box {
  margin-top: 10px;
  justify-content: center;
}